@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sansita+Swashed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-family: Montserrat;
    font-weight: 700;
}

nav a:hover {
    color: #17c98e;
}